<div class="row">
    <div class="col-sm-12">
        <h2>VIDEOS ({{ (videos | filter:filterByProperties).length }})</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div id="video-list" class="row">
            <div class="col-sm-4" ng-repeat="v in filtered = (videos | filter:filterByProperties)">
                <a ng-href="#/video/{{ v.id }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img ng-src="../{{ v.screenshot }}"/>
                        </div>
                        <div class="panel-footer">
                            {{ v.title }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <!-- Day Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Days</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="day in days" ng-init="filter['day']={}">
                        <input type="checkbox" ng-model="filter['day'][day.name]" />&nbsp;{{ day.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Channel Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Channels</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="channel in channels" ng-init="filter['channel']={}">
                        <input type="checkbox" ng-model="filter['channel'][channel.name]" />&nbsp;{{ channel.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Industry Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Industries</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="industry in industries" ng-init="filter['industry']={}">
                        <input type="checkbox" ng-model="filter['industry'][industry.name]" />&nbsp;{{ industry.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Product Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Products</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="product in products" ng-init="filter['product']={}">
                        <input type="checkbox" ng-model="filter['product'][product.name]" />&nbsp;{{ product.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- Close: filters -->
</div> <!-- Close: main row-->