<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xs-10">
                <h2>VIDEOS ({{ (videos | filter:search | filter:filterByProperties).length }})</h2>
            </div>
            <div class="col-xs-2">
                <p class="visible-xs pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Filter</button>
                </p>
            </div>
        </div>
        <div id="video-list" class="row">
            <div class="col-xs-6 col-sm-4" ng-repeat="v in filtered = (videos | filter:search | filter:filterByProperties | limitTo:itemsPerPage)">
                <a ng-href="#/video/{{ v.id }}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img ng-src="../{{ v.screenshot }}"/>
                        </div>
                        <div class="panel-footer">
                            {{ v.title }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn" href="#" ng-class="nextPageDisabledClass()" ng-click="loadMore()">Load More</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4 sidebar-offcanvas" role="navigation">
        <!-- Day Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Days</h3>
                <select ng-model="search.day">
                    <option value="">-- All {{ days.length }} Days --</option>
                    <option ng-repeat="day in days" value="{{ day.name }}">{{ day.name }}</option>
                </select>
            </div>
        </div>
        <!-- Channel Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Channels</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="channel in channels" ng-init="filter['channel']={}">
                        <input type="checkbox" ng-model="filter['channel'][channel.name]" />&nbsp;{{ channel.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Industry Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Industries</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="industry in industries" ng-init="filter['industry']={}">
                        <input type="checkbox" ng-model="filter['industry'][industry.name]" />&nbsp;{{ industry.name }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- Product Filter -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Products</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="product in products" ng-init="filter['product']={}">
                        <input type="checkbox" ng-model="filter['product'][product.name]" />&nbsp;{{ product.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- Close: filters -->
</div> <!-- Close: main row-->